body {
    background-color:#F9DB9C;
}
table, th, td {
  border-collapse: collapse;
  border: 7px solid #000000;
  
  padding: 15px;
  vertical-align: top;
  background-color:#FABD4B;
  align-content: center;
  font-family: "Lucida Console", Courier, monospace;
  margin-left: auto;
  margin-right: auto;
    }
    
    
      @media (max-width: 600px) {
  .row {

  flex-direction: column;
  }
}  
    
    
    .header {
  background-color: #FABD4B;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: "Lucida Console", Courier, monospace;
  }
  .nav  ul{
      
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: "Lucida Console", Courier, monospace;
  position: sticky;
  top: 0;

  }
  .nav li {
  float:inherit;
  border-right: 1px solid #bbb;
  }
  .nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  .nav li a:hover{
  background-color: #111;
  }
  
 
  .active {
  background-color: #E39439;
}


.flex-container {
  /* parent for books container */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: #fabd4b;
  align-items: center;
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  line-height: 55px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}



.button {
  background-color: #e39339;
  border: none;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   
  
  cursor: pointer;
  width: 200px;
  height: 100px;
  }
  
  button {
  background-color: #e39339;
  border: none;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   
  
  cursor: pointer;
  width: 200px;
  height: 100px;
  }
  
  .footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  background-image: url(../images/books.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
    
}
.footer img {
  margin-top: 8px;
  top: 72635px;
  right: 160px;
  width: 128px;
  height: 100px;
  border-color: #FABD4B;
  border-width: thick;
  position: absolute;
  
}

.showhide{
  background-color: #e39339;
  border: 2px;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin:0 auto;
  display:block;
  cursor: pointer;
  width: 50%;
  height: 100px;
    
    
}